<?xml version="1.0"?>
<launch>
  <!-- Launch arguments for flexibility -->
  <arg name="link1_length" default="1.0" />
  <arg name="link2_length" default="1.0" />
  <arg name="use_rviz" default="true" />
  <arg name="rviz_config" default="$(find robotprogramming)/config/rviz_config.rviz" />
  
  <!-- Include basic robot launch -->
  <include file="$(find robotprogramming)/launch/robot_control.launch">
    <arg name="link1_length" value="$(arg link1_length)" />
    <arg name="link2_length" value="$(arg link2_length)" />
    <arg name="use_rviz" value="$(arg use_rviz)" />
    <arg name="rviz_config" value="$(arg rviz_config)" />
  </include>

  <!-- Keyboard Controller -->
  <node name="keyboard_controller_node" 
        pkg="robotprogramming" 
        type="keyboard_controller_node"
        output="screen"
        required="true" />

</launch>